
@{
    ViewBag.Title = "ComicsMaker";
}
@Scripts.Render("~/bundles/interact")
<script src="~/Scripts/rzslider.min.js"></script>
<div class="row" ng-controller="comicsMakerController" ng-cloak="" ng-app="MyApp">
    <div class="col-md-8">
        <div class="wrapper">
            <div class="main-form center-block" id="222">
                <div class="square cell" id="sq1">
                </div>
                <div class="square cell" id="sq2"></div>
                <div class="rectangle cell" id="sq3"></div>
            </div>
        </div>
    </div>
    <div class="col-md-4" >
        <script src="~/Scripts/slider.js"></script>
        <div class="con"><div id="slider_rotate" class="slider"></div></div>
        <div class="con"><div id="slider_scale" class="slider"></div></div>
    </div>
</div>


