@font-face {
	font-family: 'BuxtonSketch';
	src: url('../fonts/BuxtonSketch.eot');
	src: local('BuxtonSketch'), url('../fonts/BuxtonSketch.woff') format('woff'), url('../fonts/BuxtonSketch.ttf') format('truetype');
}

.navbar-inverse {
  background-color: #f97f29;
  border-color: #f97f29;
}

.navbar-brand {
  font-size: 36px;
  font-family: BuxtonSketch;
}

.navbar-default .navbar-nav > li > a {
  color: #98978b;
}